@mixin text-style($font, $size, $weight, $line-height, $letter-spacing) {
  font-family: $font !important;
  font-size: $size !important;
  font-style: normal !important;
  font-weight: $weight !important;
  line-height: $line-height !important;
  letter-spacing: $letter-spacing !important;
}