@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap');

@import './mixins';

$font-inter: 'Inter', serif;
$font-unbounded: 'Unbounded', cursive;


.start-text {
    @include text-style($font-unbounded, 66px, 600, 110%, -0.96px);
    color: #121212;
}

::ng-deep .start-button {
  transform-origin: center;
  transition: all 0.25s ease-out !important;
  border: none !important;
  @include text-style($font-unbounded, 20px, 600, 110%, -0.96px);
  &:hover {
    transform: scale(2);
    background: linear-gradient(106.22deg, #b6ffe1 29.04%, #99ffa3 72.72%) !important;
    color: rgb(37, 35, 49) !important;
  }
}

.start-text-span {
}

.start-text-span-clip {
  background: linear-gradient(270deg,  #10ee62, #00ffaa, #10eeee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.start-text-span-clip2 {
  background: #121212;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}